:root {
  --swing-duration: 2000ms;
}

.pendulum-swing {
  animation: swing var(--swing-duration) linear infinite alternate;
}

@keyframes swing {
  0% {
    rotate: -20deg;
  }

  100% {
    rotate: 20deg;
  }
}
