:root {
  --swing-duration: 2000ms;
}

.pendulum-swing {
  animation: swing var(--swing-duration) linear infinite alternate;
}

@keyframes swing {
  0% {
    transform: rotate(-20deg) translateY(1rem);
  }

  100% {
    transform: rotate(20deg) translateY(1rem);
  }
}
