:root {
    --swing-duration: 2000ms;
}

.pendulum-swing {
    animation: swing var(--swing-duration) linear infinite alternate;
}

@keyframes swing {
    0% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotate(30deg);
    }
}

/* @keyframes swing {
    0% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(100px);
    }
} */